*{
  font-family: sans-serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
  background: #eaddcd;
}

/* NAVBAR*/
nav{
  background: #A08986;
  height: 80px;
  border-bottom: 3px solid #4a2632;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navElements{
  background: #A08986;
}

.navTitle{
  display: inline-block;
  margin: 9px 5px;
  background: #A08986;
}

.navElement{
  display: inline-block;
  margin: 9px 5px;
}

nav ul li a{
  color: black;
  padding: 7px 17px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
  background: #A08986;
}

a .active, a:hover{
  background: #eaddcd;
  transition: .5s;
}

.navSearch {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  border: none;
  background-color: transparent;
}

.navSearch:focus {
  background-color: hsla(33, 41%, 86%, 0.634);
}

.btnSearch{
  border: none;
  padding: 6px 10px;
  margin-right: 10px;
  color: #4a2632;
}

.btnSearch:hover{
  color: black;
  box-shadow: inset 50px 0 0 0 #cdc0be;
  background: #cdc0be;
}
::placeholder{
  color: #4a2632;
}

/*KARTICE*/

.sviRestorani{
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 400px;
  margin: 20px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 400px;
}
.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-body {
  margin: 10px;
}

.favourite{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}