*{
  font-family: sans-serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
  background: #eaddcd;
}

/* NAVBAR*/
nav{
  background: #A08986;
  height: 80px;
  border-bottom: 3px solid #4a2632;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navElements{
  background: #A08986;
}

.navTitle{
  display: inline-block;
  margin: 9px 5px;
  background: #A08986;
  text-shadow: 0 1px 3px rgb(27,27,27);
}

.navElement{
  display: inline-block;
  margin: 9px 5px;
}

nav ul li a{
  color: black;
  padding: 7px 17px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
  background: #A08986;
}

a .active, a:hover{
  background: #eaddcd;
  transition: .5s;
}

.navSearch {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  border: none;
  background-color: transparent;
}

.navSearch:focus {
  background-color: hsla(33, 41%, 86%, 0.634);
}

.btnSearch{
  border: none;
  padding: 6px 10px;
  margin-right: 10px;
  color: #4a2632;
}

::placeholder{
  color: #4a2632;
}

/*KARTICE*/

.sviRestorani{
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.poruka{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poruka h1{
  color: #4a2632;
  font-size: 35px;
  text-shadow: 0 1px 3px rgb(27,27,27);
}

.card {
  border-style: solid;
  border-width: 2px;
  border-color: #A08986;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 400px;
}
.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
}

.card-body {
  margin: 10px;
  width: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favourite{
  display: grid;
}

.btnFavAdd{
  justify-self: left;
}
.btnFavRmv{
  justify-self: right;
}

.btnFav{
  height: 50px;
  width: 180px;
  margin: 10px;
}


/*OMILJENO*/
.card-restoran{
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: #A08986;
  border-radius: 10px;
  max-width: 750px;
  margin: 20px;
}

.restoran-container{
  margin:20px
}

.btnRezervacija{
  height: 50px;
  width: 95px;
}

.btnUkloni{
  height: 50px;
  width: 95px;
}

.btnsFav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.btn:hover{
  background: #cdc0be;
  transition: .5s;
}

/*FOOTER*/
.footer1 {
  background: #A08986;
  height: 200px;
  width: 90%;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  margin: auto;
  box-shadow: 0px 0px 3px 0px rgba(10, 10, 10, 0.2);
}

.footer11 {
  background: #A08986;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 15px 30px;
}

.fgroup{
  background: #A08986;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-shadow: 0 1px 3px rgb(143, 143, 137);
}

.footer11 svg{
  height: 30px;
  width: 30px;
  background: #A08986;
}

.footer1 a{
  background: #A08986;
}

.footer12{
  background: #A08986;
  height: 50px;
  border-top: 3px dotted #4a2632;
  display: flex;
  justify-content:center;
  align-items: center;
}

.footer12 p, span{
  background: #A08986;
}
